@font-face {
  font-family: cocogoose;
  src: url("../assets/fonts/cocogoose/Cocogoose_trial.otf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hr-title {
  border: 1px solid #ec5242;
  width: 10%;
}

.hr-guest {
  border: 1px solid #3c3e43;
  width: 10%;
}

.red-color {
  color: #ec5242;
}

.dark {
  color: #272a31;
}

.light {
  color: #d3d3d3;
}

.description {
  background-color: #edeeee;
  width: 100%;
}
.description p {
  border: #fff solid 2px;
  padding: 5px;
}

.main-performers {
  background-image: linear-gradient(rgba(40, 43, 50, 0.9), rgba(40, 43, 50, 0.9)), url("https://images.assetsdelivery.com/compings_v2/floralset/floralset1905/floralset190500161.jpg");
  background-size: cover;
}
.main-performers h2 {
  text-decoration: underline #ec5242;
}

.tickets {
  border: 10px solid transparent;
  border-image: url(../assets/images/tickets.png) 30 round;
}

.about-article {
  background-color: rgba(196, 196, 196, 0.877);
}
.about-article h4 {
  text-decoration: underline #ec5242;
}

.guest-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partners-section {
  background-color: #414246;
}
.partners-section .partners {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.partners-section .partners figure {
  padding: 10px;
}

.previous div:nth-child(1) {
  background-image: linear-gradient(rgba(236, 82, 66, 0.5), rgba(236, 82, 66, 0.5)), url("../assets/images/live2.jpg");
  background-size: cover;
}

.previous div:nth-child(2) {
  background-image: linear-gradient(rgba(236, 82, 66, 0.5), rgba(236, 82, 66, 0.5)), url("../assets/images/live3.jpg");
  background-size: cover;
}

/* mobile */
@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .cover {
    background-image: linear-gradient(rgba(243, 243, 243, 0.808), rgba(196, 196, 196, 0.877)), url(../assets/images/live2.jpg);
    width: inherit;
    font-family: cocogoose, sans-serif;
    color: #ec5242;
  }
  .cover h4 {
    color: #ec5242;
    font-family: Lato, sans-serif;
  }

  .event-date {
    background-color: #edeeee;
  }
  .event-date h2 {
    color: #272a31;
    font-weight: bold;
  }
  .event-date p {
    color: #272a31;
    font-weight: bold;
  }

  .guest {
    background-color: #edeeee;
  }
  .guest h2 {
    text-align: center;
    padding-bottom: 20px;
    text-decoration: underline #ec5242;
  }
  .guest .guest-1 {
    display: flex;
  }
  .guest .guest-1 img {
    display: inline;
    height: 80px;
  }
  .guest .guest-1 .guest-desc {
    padding-left: 20px;
  }

  footer .footer-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .footer-flexbox li {
    list-style-type: none;
  }
  footer .copyright {
    text-align: center;
  }
}
/* Desktop */
@media screen and (min-width: 768px) {
  .hide-desktop {
    display: none;
  }

  .cover {
    background-image: linear-gradient(rgba(243, 243, 243, 0.808), rgba(196, 196, 196, 0.877)), url(../assets/images/live2.jpg);
    width: inherit;
    font-family: cocogoose, sans-serif;
    color: #ec5242;
  }
  .cover h4 {
    color: #ec5242;
    font-family: Lato, sans-serif;
  }

  footer .footer-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer .footer-flexbox li {
    list-style-type: none;
  }
  footer .copyright {
    text-align: center;
  }

  .event-date {
    background-color: #edeeee;
  }
  .event-date h2 {
    color: #272a31;
    font-weight: bold;
    text-align: center;
  }
  .event-date p {
    color: #272a31;
    font-weight: bold;
    text-align: center;
  }

  .container-grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .guest {
    background-color: #edeeee;
  }
  .guest h2 {
    text-align: center;
    padding-bottom: 20px;
    text-decoration: underline #ec5242;
  }
  .guest .guest-flex {
    display: flex;
    justify-content: center;
  }
  .guest .guest-1 {
    display: flex;
  }
  .guest .guest-1 img {
    display: inline;
  }
  .guest .guest-1 .guest-desc {
    padding-left: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
