@font-face {
    font-family: cocogoose;
    src: url("../assets/fonts/cocogoose/Cocogoose_trial.otf");
}

@font-face {
    font-family: Lato;
    src: url("../assets/fonts/Lato2OFLWeb/Lato2OFLWeb/Lato/fonts/Lato-Black.eot");
}

* {
    box-sizing: border-box;
}

$primary-color: #ec5242;

$secondary-color: #272a31;

$color: #d3d3d3;

body {
  width: 100vw;
  margin: 0;
  background-color: rgb(245, 245, 245); 
}

 img {
     max-width: 100%;
 }

.cover {
    font-family: cocogoose;
    color: $primary-color;
    h1 {
        background-image: url("../assets/images/live.jpg");
        background-size: cover;
         background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        
        
    }
    h4 {
        color: #ec5242;
        font-family: Lato;
    }
}

.color1 {
    color: $primary-color;
}
.color2 {
    color: $secondary-color;
}

.color3 {
    color: $color;
}

.description {
  
  width: 100%;
  p {
      border: #fff solid 2px;
      padding: 5px;
  }
}


.main-performers {
    background-image: url("../assets/images/live2.jpg");
    background-size: cover;

}

/* mobile */
@media screen and (max-width: 768px) {
    .hide-mobile {
    display: none;
    }

   .event-date {
     h2 {
     color: $secondary-color;
    font-weight: bold;
    }
     p {
        color: $secondary-color;
        font-weight: bold;
    }
}

    .guest-1 {
        display:flex;
       img {
           display: inline;
           height: 80px;
           
       }
       .guest-desc {
         padding-left: 20px;
       }
    }
    footer{
    background-color: $secondary-color;
    color: $color;
    padding: 10px;

    .footer-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
        list-style-type: none;
    }
}
.copyright {
    text-align: center;
}
}

}

/* Desktop */
@media screen and (min-width: 769px) {
   .hide-desktop {
    display: none;
    }

    footer{
    background-color: $secondary-color;
    color: $color;
    padding: 10px;

    .footer-flexbox {
    display: flex;
    flex-direction: row;
    li {
        list-style-type: none;
    }
}
}

.event-date {
    h2 {
     color: $secondary-color;
    font-weight: bold;
    text-align: center;
    }
    p {
        color: $secondary-color;
        font-weight: bold;
        text-align: center;
    }
}

.container-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

}