@font-face {
  font-family: cocogoose;
  src: url("../assets/fonts/cocogoose/Cocogoose_trial.otf");
}

* {
  box-sizing: border-box;
}

$primary-color: #ec5242;

$secondary-color: #272a31;

$color: #d3d3d3;

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hr-title {
  border: 1px solid #ec5242;
  width: 10%;
   }

.hr-guest {
  border: 1px solid #3c3e43;
  width: 10%;
}

.red-color {
  color: $primary-color;
}

.dark {
  color: $secondary-color;
}

.light {
  color: $color;
}

.description {
  background-color: rgb(237, 238, 238);
  width: 100%;

  p {
    border: #fff solid 2px;
    padding: 5px;
  }
}

.main-performers {
  background-image: linear-gradient(rgba(40, 43, 50, 0.9), rgba(40, 43, 50, 0.9)), url("https://images.assetsdelivery.com/compings_v2/floralset/floralset1905/floralset190500161.jpg");
  background-size: cover;

  h2 {
    text-decoration: underline $primary-color;
  }
}

.tickets {
  border: 10px solid transparent;
  border-image: url(../assets/images/tickets.png) 30 round;
}

.about-article {
  background-color: rgba(196, 196, 196, 0.877);

  h4 {
    text-decoration: underline $primary-color;
  }
}

.guest-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partners-section {
  background-color: #414246;

  .partners {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;

    figure {
      padding: 10px;
    }
  }
}


.previous div:nth-child(1) {
  background-image: linear-gradient(rgba(236, 82, 66, 0.5), rgba(236, 82, 66, 0.5)), url("../assets/images/live2.jpg");
  background-size: cover;
}

.previous div:nth-child(2) {
  background-image: linear-gradient(rgba(236, 82, 66, 0.5), rgba(236, 82, 66, 0.5)), url("../assets/images/live3.jpg");
  background-size: cover;
}

/* mobile */
@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .cover {
    background-image: linear-gradient(rgba(243, 243, 243, 0.808), rgba(196, 196, 196, 0.877)), url(../assets/images/live2.jpg);
    width: inherit;
    font-family: cocogoose, sans-serif;
    color: $primary-color;

    // h1 {
    //   background-image: url("../assets/images/live3.jpg");
    //   background-size: cover;
    //   -webkit-background-clip: text;
    //   color: transparent;
    // }

    h4 {
      color: #ec5242;
      font-family: Lato, sans-serif;
    }
  }

  .event-date {
    background-color: rgb(237, 238, 238);

    h2 {
      color: $secondary-color;
      font-weight: bold;
    }

    p {
      color: $secondary-color;
      font-weight: bold;
    }
  }

  .guest {
    background-color: rgb(237, 238, 238);

    h2 {
      text-align: center;
      padding-bottom: 20px;
      text-decoration: underline $primary-color;
    }

    .guest-1 {
      display: flex;

      img {
        display: inline;
        height: 80px;
      }

      .guest-desc {
        padding-left: 20px;
      }
    }
  }

  footer {
    .footer-flexbox {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        list-style-type: none;
      }
    }

    .copyright {
      text-align: center;
    }
  }
}

/* Desktop */
@media screen and (min-width: 768px) {
  .hide-desktop {
    display: none;
  }

  .cover {
    background-image: linear-gradient(rgba(243, 243, 243, 0.808), rgba(196, 196, 196, 0.877)), url(../assets/images/live2.jpg);
    width: inherit;
    font-family: cocogoose, sans-serif;
    color: $primary-color;

    // h1 {
    //   width: 50%;
    //   background-image: url("../assets/images/live3.jpg");
    //   background-size: cover;
    //   background-clip: inherit;
    //   -webkit-background-clip: text;
    //   color: transparent;
    // }

    h4 {
      color: #ec5242;
      font-family: Lato, sans-serif;
    }
  }

  footer {
    .footer-flexbox {
      display: flex;
      flex-direction: row;
      justify-content: center;

      li {
        list-style-type: none;
      }
    }

    .copyright {
      text-align: center;
    }
  }

  .event-date {
    background-color: rgb(237, 238, 238);

    h2 {
      color: $secondary-color;
      font-weight: bold;
      text-align: center;
    }

    p {
      color: $secondary-color;
      font-weight: bold;
      text-align: center;
    }
  }

  .container-grid {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .guest {
    background-color: rgb(237, 238, 238);

    h2 {
      text-align: center;
      padding-bottom: 20px;
      text-decoration: underline $primary-color;
    }

    .guest-flex {
      display: flex;
      justify-content: center;
    }

    .guest-1 {
      display: flex;

      img {
        display: inline;
      }

      .guest-desc {
        padding-left: 20px;
      }
    }
  }
}
